/* rafting.css */

/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* Define CSS variables */
:root {
    --primary-color: #376fa7; /* Navy blue */
    --secondary-color: #ae8b58; /* Taupe or sandy brown */
    --accent1-color: #ffffff; /* Olive brown or military green */
    --accent2-color: #524536; /* Mint or pale aqua */
    --accent3-color: #000000; /* Mint or pale aqua */


    --heading-font: 'Times New Roman', serif;
    --paragraph-font: 'Arial', serif;

    --nav-background-color: #FFFFFF; /* White */
    --nav-link-color: #333333; /* Dark gray */
    --nav-hover-link-color: #0077CC; /* Blue */
    --nav-hover-background-color: #EAEAEA; /* Light gray */
}

/* Styling headings and paragraph elements */
h1, h2, h3, h4, h5, h6 {
    color: var(--primary-color);
    font-family: var(--heading-font);
}

p {
    color: var(--accent1-color);
    font-family: var(--paragraph-font);
}

/* Removing underlines from social media links */
.social-media-links {
    text-decoration: none;
}

/* Limiting the entire width of the page */
body {
    max-width: 1200px;
    margin: 0 auto;
}

/* Styling the hero section */
.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

/* Positioning the h1 heading and the article */
.hero h1 {
    position: absolute;
    top: 50px;
    right: 150px;
    color: #FFFFFF;
}   

.hero article {
    position: absolute;
    top: 150px;
    left: 20px;
    right: 20px;
    float: none;
    background-color: #376fa7;
    color: white;
    
}

/* Float img inside article to the right */
.hero article img {
    float: right;
    width: 150px;
    height: 100px;
}

/* Styling the footer */
footer {
    background-color: var(--primary-color); /* Use the primary color defined in the root */
    color: white; /* Set text color to contrast with the background */
    padding: 20px; /* Add some padding for better visual appearance */
    display: flex; /* Use flexbox layout */
    justify-content: space-between; /* Space out the elements in the footer */
    align-items: center; /* Align items vertically */
}

/* Aligning the paragraph in the footer */
footer p {
    margin: 0; /* Reset margin */
}

/* Aligning the social links in the footer */
footer .sociallinks {
    display: flex; /* Use flexbox layout for social links */
}

/* Aligning each social media icon */
footer .sociallinks a {
    margin-left: 10px; /* Add some spacing between social links */
}

/* Styling the social media icons */
footer .sociallinks img {
    width: 30px; /* Set the width of social media icons */
    height: 30px; /* Set the height of social media icons */
}

