/* Import fonts */
@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Roboto&display=swap');

/* Universal styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

legend {
    display: none;
}

h1 {
    text-align: center;
    color: navy;
}

input[type="checkbox"] {
    width: 22px;
    height: 22px;
    vertical-align: bottom;
}

fieldset label {
    font-size: 24px; /* Adjust the font size as needed */
}

button {
    margin: 1rem;
    background-color: navy;
    color: #fff;
    border: none;
    border-radius: .5rem;
    padding: .75rem;
    font-size: 1.2rem;
    cursor: pointer; /* Add pointer cursor for better usability */
}

button:hover {
    background-color: darkgreen;
}

/* Form styles */
form {
    width: 100%;
    max-width: 650px; /* Set maximum width for better readability */
    margin: 0 auto;
    padding: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    background-color: #eee;
    display: grid;
}

fieldset {
    display: grid;
    grid-gap: .5rem;
    margin: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 1rem;
}

/* Style form elements */
input[type="text"],
textarea,
select,
input[type="number"],
button {
    margin-bottom: 10px;
    width: 100%;
    padding: 0.5rem;
    font-size: 1.1rem;
    border: 1px solid #ccc; /* Add border for better distinction */
    border-radius: 4px;
}

textarea {
    resize: vertical; /* Allow vertical resizing */
}

/* Focus state for form elements */
input:focus,
select:focus,
textarea:focus {
    outline: none; /* Remove default outline */
    border-color: navy; /* Change border color on focus */
    box-shadow: 0 0 5px rgba(0, 0, 255, 0.5); /* Add box shadow on focus */
}

/* Style labels */
label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

/* Style select dropdown arrow */
select {
    appearance: none; /* Remove default appearance */
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="%23333"><path d="M7 10l5 5 5-5H7z"/><path d="M0 0h24v24H0z" fill="none"/></svg>'); /* Add custom arrow */
    background-repeat: no-repeat;
    background-position: right 5px center;
    padding-right: 25px; /* Adjust padding for arrow */
}

/* Responsive styles */
@media (min-width: 768px) {
    form {
        width: 100%;
        max-width: 600px;
        margin: auto;
    }
}

/* Class Selectors */
.form-item {
  display: grid;
  align-items: center; 
}

.question-number {
  color: blue;
}